/* Make spacing consistent */
body {
    background-color: #f8f9fa;
}

li .list-group-item {
    list-style-type: none;
}

/* Card smoothing */
.card {
    border-radius: 12px;
}

/* Navbar brand styling */
.navbar-brand {
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Override Bootstrap primary color (optional) */
:root {
    --bs-primary: #00B8D9;
    --bs-secondary: #4C6FFF;
    --bs-info: #0fb939;
} 

.bg-primary{
    background-color: var(--bs-primary) !important;
}

.bg-secondary{
    background-color: var(--bs-secondary) !important;
}

.badge.tag-info {
    background-color: #0fb939 !important;
}

.btn-primary{
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.scrollable-card-600 {
    max-height: 600px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.scrollable-card-200 {
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.card-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

/* Tables */
.table thead {
    background: #f1f3f5;
    font-weight: 600;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

